.main {
    display: flex;
    background-color: aliceblue;


  }


.green {
    width: 100px;
    height: 100px;
    border-color: black;
    border: 1px;
    background-color: rgb(235, 248, 235);

  }

  .yellow {
    width: 100px;
    height: 100px;
    border: 1px, solid rgb(164, 117, 117);
    background-color: rgb(247, 239, 232);
  }

  #panel,
  #flip {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
  }

  #panel {
    padding: 50px;
    display: none;
  }
  #panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
  }
  
  #panel {
    padding: 50px;
    display: none;
  }